@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Oswald&display=swap');
body {
    width: 100%;
}

header {
    background-color: rgb(146, 113, 199);
    padding: 20px 0;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    font-family: 'Fredericka the Great', cursive;
}

main {
    margin-top: 130px;
    padding: 10px;
}

h2 {
    margin: 10px;
}

.list {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: scroll;
}

.user_list {
    height: 220px;
}

.user {
    margin: 12px;
    padding: 15px 5px;
    width: 140px;
    border: 1px solid violet;
    border-radius: 10%;
    box-shadow: 0 0 10px gray;
}

.user img {
    border-radius: 50%;
    margin: 0 30px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h4 {
    font-size: 20px;
}

.folder_list {
    height: 180px;
}

.folder {
    width: 100px;
    height: 100px;
    background-color: pink;
    margin: 10px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px gray;
}

.folder p {
    margin: 10px;
}

.link {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link p {
    padding-left: 30px;
}